---
layout: default
title: page.title
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">Released on {{ page.date | date: "%A %d/%m/%Y %H:%M" }}</p>
  </header>

  <div>
    {% if page.due_event %}
    <span style="font-weight: bold">
      Due Date: {{ page.due_event.date | date: "%d/%m/%Y %H:%M" }}
    </span>
    {% endif %}
    <p style="font-weight: bold">
      {% if page.pdf %}
      [<a href="{{ page.pdf | prepend: site.baseurl }}">Download</a>]
      {% endif %}
      {% if page.submit_link %}
      [<a href="{{ page.submit_link | prepend: site.baseurl }}">Submission Link</a>]
      {% endif %}
      {% if page.attachment %}
      [<a href="{{ page.attachment | prepend: site.baseurl }}">Attachment</a>]
      {% endif %}
      {% if page.solutions %}
      [<a href="{{ page.solutions | prepend: site.baseurl }}">Solutions</a>]
      {% endif %}
    </p>
  </div>

  <br />
  <article class="post-content">
    {{ content }}
  </article>

</div>